<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
</head>
<body style='margin: 20%'>
  <h1>Application</h1>
  <p><%= link_to 'Call say_hello service with parameter "Dave"', 
    controller: :site, action: :call_service %></p>
</body>
</html>
