<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
</head>
<body style='margin: 20%'>
  <h1>Application</h1>
  <p>Result received from say_hello service is:  <%= @sentence %></p>
  <p style='font-size: 70%'><a href="/site">Go to home page</a></p>
</body>
</html>
